.about-us {
    margin: auto;
    max-width: 70%;
    text-align: center;
}

h2,
h3 {
    font-family: "Aesthetic Violet";
}

h2 {
    font-size: 300%;
    margin-bottom: 2rem;
}

h3 {
    font-size: 150%;
    margin: 2rem 0;
}

p {
    font-size: 100%;
    padding: 0.5rem 0;
}
